.produto {
    margin-bottom: 4rem;
  }
  
  .produto:hover {
    cursor: pointer;
  }
  
  .imagem-produto {
    width: 176px;
    height: 174px;
  }
  
  .nome-produto {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  
  .preco-produto {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
  
  .link-produto{
    color: #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
  }
  
  .link-produto:hover {
    text-decoration: underline;
  }