<section class="container-produtos-home">
  <div class="categorias">
    <div class="cabecalho-categoria">
      <h3 class="titulo-categoria">Todos os produtos</h3>
      <button class="botao-adicionar-produto">Adicionar produto</button>
    </div>

    <ul class="lista-produtos">
      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[1].imagemProduto" [alt]="produtoHome[1].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[1].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[1].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[0].imagemProduto" [alt]="produtoHome[0].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[0].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[0].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[0].imagemProduto" [alt]="produtoHome[0].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[0].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[0].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[2].imagemProduto" [alt]="produtoHome[2].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[2].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[2].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[2].imagemProduto" [alt]="produtoHome[2].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[2].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[2].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[1].imagemProduto" [alt]="produtoHome[1].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[1].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[1].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[0].imagemProduto" [alt]="produtoHome[0].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[0].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[0].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[1].imagemProduto" [alt]="produtoHome[1].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[1].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[1].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[0].imagemProduto" [alt]="produtoHome[0].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[0].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[0].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[2].imagemProduto" [alt]="produtoHome[2].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[2].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[2].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[2].imagemProduto" [alt]="produtoHome[2].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[2].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[2].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[1].imagemProduto" [alt]="produtoHome[1].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[1].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[1].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[0].imagemProduto" [alt]="produtoHome[0].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[0].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[0].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[2].imagemProduto" [alt]="produtoHome[2].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[2].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[2].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[1].imagemProduto" [alt]="produtoHome[1].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[1].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[1].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[1].imagemProduto" [alt]="produtoHome[1].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[1].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[1].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[2].imagemProduto" [alt]="produtoHome[2].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[2].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[2].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto()">
        <img class="imagem-produto" [src]="produtoHome[0].imagemProduto" [alt]="produtoHome[0].descricaoProduto">
        <p class="nome-produto">{{ produtoHome[0].nomeProduto }}</p>
        <p class="preco-produto">R${{ produtoHome[0].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>
    </ul>
  </div>
