<section class="container-produtos-home">
  <div class="categorias">
    <div class="cabecalho-categoria">
      <h3 class="titulo-categoria">Todos os produtos</h3>
      <button class="botao-adicionar-produto">Adicionar produto</button>
    </div>

    <ul class="lista-produtos">
      <li class="produto" (click)="irParaProduto(produto[1].id)">
        <img class="imagem-produto" [src]="produto[1].imagemProduto" [alt]="produto[1].descricaoProduto">
        <p class="nome-produto">{{ produto[1].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[1].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto(produto[0].id)">
        <img class="imagem-produto" [src]="produto[0].imagemProduto" [alt]="produto[0].descricaoProduto">
        <p class="nome-produto">{{ produto[0].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[0].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto(produto[0].id)">
        <img class="imagem-produto" [src]="produto[0].imagemProduto" [alt]="produto[0].descricaoProduto">
        <p class="nome-produto">{{ produto[0].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[0].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto(produto[2].id)">
        <img class="imagem-produto" [src]="produto[2].imagemProduto" [alt]="produto[2].descricaoProduto">
        <p class="nome-produto">{{ produto[2].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[2].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto(produto[2].id)">
        <img class="imagem-produto" [src]="produto[2].imagemProduto" [alt]="produto[2].descricaoProduto">
        <p class="nome-produto">{{ produto[2].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[2].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto(produto[1].id)">
        <img class="imagem-produto" [src]="produto[1].imagemProduto" [alt]="produto[1].descricaoProduto">
        <p class="nome-produto">{{ produto[1].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[1].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto(produto[0].id)">
        <img class="imagem-produto" [src]="produto[0].imagemProduto" [alt]="produto[0].descricaoProduto">
        <p class="nome-produto">{{ produto[0].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[0].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto(produto[1].id)">
        <img class="imagem-produto" [src]="produto[1].imagemProduto" [alt]="produto[1].descricaoProduto">
        <p class="nome-produto">{{ produto[1].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[1].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto(produto[0].id)">
        <img class="imagem-produto" [src]="produto[0].imagemProduto" [alt]="produto[0].descricaoProduto">
        <p class="nome-produto">{{ produto[0].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[0].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto(produto[2].id)">
        <img class="imagem-produto" [src]="produto[2].imagemProduto" [alt]="produto[2].descricaoProduto">
        <p class="nome-produto">{{ produto[2].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[2].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto(produto[2].id)">
        <img class="imagem-produto" [src]="produto[2].imagemProduto" [alt]="produto[2].descricaoProduto">
        <p class="nome-produto">{{ produto[2].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[2].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto(produto[1].id)">
        <img class="imagem-produto" [src]="produto[1].imagemProduto" [alt]="produto[1].descricaoProduto">
        <p class="nome-produto">{{ produto[1].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[1].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto(produto[0].id)">
        <img class="imagem-produto" [src]="produto[0].imagemProduto" [alt]="produto[0].descricaoProduto">
        <p class="nome-produto">{{ produto[0].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[0].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto(produto[2].id)">
        <img class="imagem-produto" [src]="produto[2].imagemProduto" [alt]="produto[2].descricaoProduto">
        <p class="nome-produto">{{ produto[2].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[2].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto(produto[1].id)">
        <img class="imagem-produto" [src]="produto[1].imagemProduto" [alt]="produto[1].descricaoProduto">
        <p class="nome-produto">{{ produto[1].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[1].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto(produto[1].id)">
        <img class="imagem-produto" [src]="produto[1].imagemProduto" [alt]="produto[1].descricaoProduto">
        <p class="nome-produto">{{ produto[1].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[1].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto(produto[2].id)">
        <img class="imagem-produto" [src]="produto[2].imagemProduto" [alt]="produto[2].descricaoProduto">
        <p class="nome-produto">{{ produto[2].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[2].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>

      <li class="produto" (click)="irParaProduto(produto[0].id)">
        <img class="imagem-produto" [src]="produto[0].imagemProduto" [alt]="produto[0].descricaoProduto">
        <p class="nome-produto">{{ produto[0].nomeProduto }}</p>
        <p class="preco-produto">R${{ produto[0].precoProduto }}</p>
        <a class="link-produto">Ver produto</a>
      </li>
    </ul>
  </div>
