.container-produtos-home{
  background: #f5f5f5;
}

.titulo-categoria {
  font-size: 2rem;
}

.cabecalho-categoria{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 4.5%;
}

.lista-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}

.produto {
  list-style-type: none;
  margin-bottom: 4rem;
}

.produto:hover {
  cursor: pointer;
}

.imagem-produto {
  width: 176px;
  height: 174px;
}

.nome-produto {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.preco-produto {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.botao-adicionar-produto {
  display: flex;
  background: #2A7AE4;
  border:#2A7AE4;
  color: #FFFFFF;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  width: 164px;
  height: 51px;
}

.link-produto{
  color: #2A7AE4;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.link-produto:hover {
  text-decoration: underline;
}
