.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 152px;
}

.logo-pesquisa {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo-titulo {
  display: flex;
  align-items: center;
}

.logo-titulo:hover{
  cursor: pointer;
}

.primeiro-titulo{
  color: #2A7AE4;
}

.pesquisa{
  display: flex;
  align-items: center;
}

.barra-de-pesquisa {
  background: #f5f5f5;
  border: #f5f5f5;
  border-width: 0px;
  border-radius: 20px;
  width: 393px;
  height: 40px;
  margin-left: 15px;
  outline: none;
  position: absolute;
  
}

.icone-lupa {
  position: relative;
  margin-left: 375px;
}

.icone-lupa:hover {
  cursor: pointer;
}

.bt-login {
  background: #FFFFFF;
  border-width: 1px;
  width: 150px;
  height: 50px;
  border-color: blue;
  color: blue;
  border-radius: 20px;
}

.bt-login:hover {
  text-decoration: underline;
  cursor: pointer;
}
