<header class="container-banner">
  <div class="texto-banner">
    <h2 class="titulo-banner">Outubro das Crianças</h2>
    <p class="conteudo-banner">Produtos selecionasdos com 33% de desconto</p>
    <button class="botao-banner">Ver Consoles</button>
  </div>
</header>

<section class="container-produtos">
  <div class="categorias">
    <div class="cabecalho-categoria">
      <h3 class="titulo-categoria">Star Wars</h3>
      <a href="#" class="link-ver-tudo">Ver tudo</a>
    </div>
    <ul class="lista-produtos">
      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/yoda.jpg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>

      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/yoda.jpg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>

      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/yoda.jpg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>

      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/yoda.jpg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>

      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/yoda.jpg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>

      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/yoda.jpg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>
    </ul>
  </div>

  <div class="categorias">
    <div class="cabecalho-categoria">
      <h3 class="titulo-categoria">Console</h3>
      <a href="#" class="link-ver-tudo">Ver tudo</a>
    </div>>
    <ul class="lista-produtos">
      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/console.jpeg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}00</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>

      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/console.jpeg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}00</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>

      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/console.jpeg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}00</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>

      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/console.jpeg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}00</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>

      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/console.jpeg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}00</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>

      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/console.jpeg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}00</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>
    </ul>
  </div>

  <div class="categorias">
    <div class="cabecalho-categoria">
      <h3 class="titulo-categoria">Diversos</h3>
      <a href="#" class="link-ver-tudo">Ver tudo</a>
    </div>

    <ul class="lista-produtos">
      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/figure.jpg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}0</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>

      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/figure.jpg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}0</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>

      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/figure.jpg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}0</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>

      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/figure.jpg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}0</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>

      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/figure.jpg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}0</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>

      <li class="produto">
        <img class="imagem-produto" src="./../../../assets/figure.jpg" alt="Boneco Yoda">
        <p class="nome-produto">{{ produto.nomeProduto }}</p>
        <p class="preco-produto">R${{ produto.precoProduto }}0</p>
        <a href="#" class="link-produto">Ver produto</a>
      </li>
    </ul>
  </div>
</section>
