<!--[] fazer com que produto similar mostre produtos que tem o mesmo valor na coluna "categoria" (coluna a ser adicionada)

    [v] falta fazer mudar a pagina quando escolhe um produto similar(obs: funçao tem q ser feita no card-produto.ts)
    -> feito: a função ir para produto do card produto muda a url e mudar produto da refresh na pagina para q carregue 
    o produto da nova url 
-->
<section class="pagina-produto">
    <div class="produto">
        <div class="img-produto-descricao">
            <img class="img-do-produto" src="./../../../../assets/{{ produto.imagemProduto }}" [alt]="produto.altProduto">
        </div>
        <div class="produto-descricao">
            <div class="nome-produto-div">
                <h2 class="nome-do-produto">{{ produto.nomeProduto }}</h2>
            </div>
            <div class="preco-produto-div">
                <p class="preco-do-produto">R$ {{ produto.precoProduto }}</p>
            </div>
            <div class="descricao-produto-div">
                <p class="descricao--do-produto">{{ produto.descricaoProduto }}</p>
            </div>
        </div>
    </div>

    <div class="categorias">
        <div class="cabecalho-categoria">
            <h3 class="titulo-categoria">Produtos similares</h3>
        </div>

        <ul class="lista-produtos">
            <li *ngFor="let produtos of listaProduto | slice:0:6; index as i">
              <app-card-produto [produto]="produtos" (click)="mudarProduto(produto.id)"></app-card-produto>
            </li>
        </ul>
    </div>
</section>

