.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
  height: 50vh;
  padding: 15vh 0;
  justify-content: space-around;
}

.titulo-login {
  color: #464646;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.usuario-login, .senha-login{
  width: 323px;
  height: 63.13px;
  border: #FFFFFF;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #a2a2a2;
  line-height: 20px;
  border-radius: 4px;
}


.botao-entrar-login {
  background: #2A7AE4;
  border: #2A7AE4;
  color: #FFFFFF;
  width: 333px;
  height: 63.13px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}
