 <section class="container-login">
  <form 
    class="login"
    >
    <!-- [formGroup]="login" -->
    <label class="titulo-login" form="login">Iniciar Sessão</label>
    <input
    type="email" 
    id="email" 
    class="form-control usuario-login"  
    formControlName="email"
    placeholder="Digite seu email"
    >
    <input
    
    type="password"
    class="senha-login"
    placeholder="Digite sua senha"
    >
    <button class="botao-entrar-login" (click)="validacaoLogin">Entrar</button>
  </form>
</section>
