<section class="rodape-principal">
  <div class="map-rodape">
    <div class="container-logo">
      <div class="logo-rodape">
        <img src="../assets/Vector.png" alt="Controle logo da loja">
        <h1 class="primeiro-titulo-rodape">Geek</h1>
        <h1 class="segundo-titulo-rodape">Store</h1>
      </div>
    </div>

    <div class="topicos-rodape">
      <ul class="lista-topicos-rodape">
        <li class="topico">Quem somos nós</li>
        <li class="topico">Politica de privacidade</li>
        <li class="topico">Programa de fidelidade</li>
        <li class="topico">Nossas lojas</li>
        <li class="topico">Quero ser franqueado</li>
        <li class="topico">Anuncie Aqui</li>
      </ul>
    </div>

    <div class="contato-rodape">
      <h4 class="titulo-contato">Fale conosco</h4>
      <input
      type="text"
      class="input-nome-rodape"
      placeholder="Nome"
      >
      <input
      type="text"
      class="input-mensagem-rodape"
      placeholder="Escreva sua mensagem"
      >
      <button class="botao-mensagem-rodape">Enviar mensagem</button>
    </div>
  </div>

  <div class="assinatura-rodape">
    <h4 class="conteudo-rodape"> Desenvolvido por Roberto</h4>
  </div>
</section>
